[project]
	description = Miscellaneous documents
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vincent Zimmer (vincentjzimmer)
[access "refs/for/refs/*"]
	read = group user/Vincent Zimmer (vincentjzimmer)
	push = group user/Vincent Zimmer (vincentjzimmer)
	label-Code-Review = -2..+2 group user/Vincent Zimmer (vincentjzimmer)
	label-Verified = -1..+1 group user/Vincent Zimmer (vincentjzimmer)
	rebase = group user/Vincent Zimmer (vincentjzimmer)
	removeReviewer = group user/Vincent Zimmer (vincentjzimmer)
	submit = group user/Vincent Zimmer (vincentjzimmer)
[access "refs/heads/*"]
	read = group user/Vincent Zimmer (vincentjzimmer)
	create = group user/Vincent Zimmer (vincentjzimmer)
	push = +force group user/Vincent Zimmer (vincentjzimmer)
	pushMerge = group user/Vincent Zimmer (vincentjzimmer)
[access "refs/tags/*"]
	push = +force group user/Vincent Zimmer (vincentjzimmer)
	pushTag = group user/Vincent Zimmer (vincentjzimmer)
	pushSignedTag = group user/Vincent Zimmer (vincentjzimmer)
